.accordion {
  width: 100%;
}

.accordion-item {
  width: 100%;
}

form#flashcardForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  label {
    display: block;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
  }

  input:nth-of-type(2) {
    height: 200px;
  }

  button {
    margin-top: 15px;
    margin-left: auto;
  }
}

.flashcard-section {
  margin: 60px 0;
  padding: 10px 40px 30px;
  width: calc(100% - 60px);
  background-color: #e5e5e5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-section-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    margin-bottom: 0;
    margin-right: auto;
  }

  button:first-of-type {
    margin-right: 6px;
  }
}
