/* Flashcard Section Styling */
.flashcard-section {
  margin: 60px 0;
  padding: 10px 40px 30px;
  width: calc(100% - 60px);
  background-color: #e5e5e5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Section Header Styling */
.section-header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Section Heading */
  h5 {
    margin-bottom: 0;
    margin-right: auto;
  }

  /* Add flashcard button */
  button:first-of-type {
    margin-right: 6px;
  }

  /* Open all links button */
  #btn-open-all-links {
    img {
      height: 20px;
      width: auto;
    }
  }
}

/* Flashcard Accordian Styling */
.accordion {
  width: 100%;
}

.accordion-item {
  width: 100%;
}

/* Flashcard links list styling */
.flashcard-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  li {
    width: 100%;
    a {
      word-break: break-all;
      width: fit-content;
    }
  }

  /* Remove link bin button */
  .remove-link-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 20px;

    img {
      height: 21px;
      width: auto;
    }
  }
}

/* Flashcard Footer Styling */
.flashcard-footer {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button:nth-of-type(2) {
    margin-left: auto;
  }

  input {
    width: 40%;
    margin-right: 10px;
    padding: 8px 10px;
    border: solid 1.5px #d4d4d4;
    border-radius: 3px;
  }
}

/* Flashcard Form Styling */
form#flashcardForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  label {
    display: block;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 10px;
    border: solid 1.5px #d4d4d4;
    border-radius: 3px;
  }

  textarea {
    height: 200px;
    border: solid 1.5px #d4d4d4;
    width: 100%;
    padding: 5px 10px;
    resize: none;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  button {
    margin-top: 15px;
    margin-left: auto;
  }
}
