.kanban-buttons {
  right: 10px;
  display: block;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-bottom: 20px;
  gap: 10px;
}

#column-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;

  #column-name {
    padding: 5px 10px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    width: 100%;
  }

  #column-form-button {
    width: fit-content;
    margin-left: auto;
  }
}

.kanban_column {
  background-color: #e4e4e4;
  border-radius: 5px;
  height: 77vh;
  margin-bottom: 30px;

  .column-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e4e4e4;
    width: 100%;
  }

  .taskList {
    overflow-y: auto;
    height: calc(77vh - 120px);
  }
}

.kanban_columnn:not(:last-child) {
  margin-right: 30px;
}

.kanban_column-title {
  margin-bottom: 20px;
  user-select: none;
}

.kanban_item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.task-card {
  background-color: white;
  height: auto;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
  }

  .content-information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 40px;

    .task-tag {
      padding: 3px;
      width: fit-content;
      border-radius: 3px;

      &.red {
        background-color: #f94144;
      }

      &.green {
        background-color: #43aa8b;
      }

      &.orange {
        background-color: #f8961e;
      }

      p {
        color: white;
      }
    }
  }

  .time-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .clock-icon {
      width: 15px;
      height: 15px;
    }

    span {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
}

#taskform {
  input {
    width: 100%;
    margin-bottom: 15px;
  }

  select {
    margin-bottom: 15px;
  }

  label {
    display: block;
  }
}

.draggable.dragging {
  opacity: 0.5;
}
