//Hidden Functional Class
.hidden {
  display: none;
}

//Functional dragging class
.draggable.dragging {
  opacity: 0.5;
}

//Add column & add taskcard buttons at top
.kanban-buttons {
  right: 10px;
  display: block;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-bottom: 20px;
  gap: 10px;
}

//Column Modal
#column-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;

  //Column Name Input Field
  input {
    padding: 5px 10px;
    border: solid 1.5px #d4d4d4;
    border-radius: 3px;
  }

  //Submit Add Column For button
  #column-form-button {
    width: fit-content;
    margin-left: auto;
  }
}

//Task Modal
#taskform {
  width: 100%;
  display: flex;
  flex-direction: column;

  //Input fields
  input {
    width: 100%;
    padding: 5px 10px;
    border: solid 1.5px #d4d4d4;
    border-radius: 3px;
  }

  label {
    display: block;
  }

  //Priority
  select {
    padding: 8px 10px;
    border: solid 1.5px #d4d4d4;
    border-radius: 3px;
  }

  #task-button {
    margin-left: auto;
  }
}

//Kanban Column Styling
.kanban_column {
  background-color: #e4e4e4;
  border-radius: 5px;
  height: 77vh;
  margin-bottom: 30px;

  //Column Heading Styling
  .column-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e4e4e4;
    width: 100%;
  }

  //Taskcard container Styling
  .taskList {
    overflow-y: auto;
    height: calc(77vh - 120px);
  }
}

//Task Card Styling
.task-card {
  background-color: white;
  height: auto;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000;

  //Remove default styling
  p {
    margin-bottom: 0;
  }

  //Task Heading (both Task Name and delete button)
  .taskcard-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //Styling for delete button
    img {
      width: 20px;
      height: auto;
    }

    //Remove default styling
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }

  //Content information (class tag and priority tag)
  .content-information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 40px;

    //Tag styling
    .task-tag {
      padding: 3px;
      width: fit-content;
      border-radius: 3px;

      &.red {
        background-color: #f94144;
      }

      &.green {
        background-color: #43aa8b;
      }

      &.orange {
        background-color: #f8961e;
      }

      p {
        color: white;
      }
    }
  }

  //Time information (duedate and estimated completion time)
  .time-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    //Estimated completion time
    span {
      display: flex;
      align-items: center;
      gap: 7px;

      //Estimated completion time icon
      .clock-icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}
