.music-player {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.player {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  flex: 5;
}

.playlist {
  background-color: #113049;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 3;
  margin: -20px;
}

.playlist-body {
  width: 100%;
  overflow-y: auto;
}

.playlist-title {
  color: white;
  padding-top: 10px;
}

.playlist-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 1rem;
}

.playlist-card:hover {
  cursor: pointer;
  background-color: #ffffff6d;
}

.active {
  background-color: #ffffff6d;
}

.playlist-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.playlist-track-name {
  margin-left: 1rem;
}

.playlist-track-artist {
  margin-left: 1rem;
}

.playlist-track-image {
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
}

.playlist-track-number {
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25px;
}

.track-details {
  margin-left: 15px;
}

.track-art {
  margin: 10px;
  height: 150px;
  width: 150px;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}

.now-playing {
  font-size: 1rem;
}

.music-player-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #43aa8b;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .music-player {
    align-content: center;
    flex-direction: column;
  }

  .slider_container {
    justify-content: center;
  }

  .music-player-buttons {
    justify-content: center;
  }
}
