//Layout of workspace page
.box {
  & + .box {
    margin-top: 40px;
  }

  &.progress-column {
    background-color: #003049;
    color: #fff;
    height: 100%;
  }

  &.box-border {
    border: 1px solid #a4a4a4;
  }

  &.music-player {
    padding: 0;
  }
}

//Creating two columns - left column for progress kanban column, right for pomodoro timer/stopwatch and music player
.study-features {
  padding: 20px;
  height: 85vh;

  .time-features {
    height: 45vh;
    position: relative;
  }

  .music-player {
  }
}

//Responsive Design
@media screen and (max-width: 768px) {
  .study-features {
    .time-features {
      height: 85vh;
    }

    .music-player {
      height: 85vh;
    }
  }
}

//Time Features - Positioning Links
div.time-links {
  width: 200px;
  position: absolute;
  right: 30px;
  top: 20px;
}

//Settings - Slider Stlying
.pomodoro-settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;

  input {
    margin-top: 10px;
  }

  span {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  label {
    width: 100%;
    text-align: left;
  }
}
