//Layout of workspace page
.box {
  & + .box {
    margin: 40px 0;
  }

  &#progress-column {
    background-color: #003049;
    color: #fff;
    height: 100%;

    .column-heading {
      background-color: #003049;
    }
  }

  &.box-border {
    border: 1px solid #a4a4a4;
    height: 350px;
  }
}

//Creating two columns for study features and time features
.study-features {
  padding: 20px;

  .time-features {
    min-height: 50vh;
    position: relative;
  }
}

//Responsive Design for Workspace layout
@media screen and (max-width: 768px) {
  .study-features {
    .time-features {
      height: 85vh;
      display: flex;
      align-items: center;
    }

    .music-player {
      height: 85vh;
    }
  }
}

//Time Features - Styling links
div.time-links {
  width: fit-content;
  height: 60px;
  position: absolute;
  right: 30px;
  top: 20px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

//Pomodoro Timer Styling
.timer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30%;
  justify-content: center;
  padding: 50px 0;
}

.pomodoro-buttons,
.number-of-sessions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#work-timer,
#break-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pomodoro-timer,
#stopwatch {
  height: calc(45vh - 40px);
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  #pomodoro-timer,
  #stopwatch {
    width: 100%;
  }
}

//Settings Styling
.pomodoro-settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;

  input {
    margin-top: 10px;
  }

  //Slider setting
  .setting-component {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //Actual Slider width
    :first-child {
      width: 80%;
    }

    //User input display box
    .display-box-container {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        margin-bottom: 0 !important;
      }

      .display-box {
        text-align: center;
        width: 40px;
        border: 1.5px solid #a4a4a4;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 15px;
      }
    }
  }

  //Slider minimum and maximum range
  span {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  //Slider label
  label {
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .pomodoro-settings {
    width: 100%;
  }
}

//Stopwatch styling
.stopwatch-display {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #stopwatch-minutes,
  #stopwatch-seconds,
  #stopwatch-tens {
    padding: 0 10px;
    min-width: 60px;
  }
}
